 {% extends 'base.html' %}

{% block content %}

 <div title="About me" id="About_me_section"
          class="p-5 text-center bg-image"
          style="
            background-color: rgba(0, 255, 66, 0.78);
            height: 500px;
          "
        >
          <div>
            <div class="row text-white">
                {% if not data_.aboutme and user.is_authenticated %}
                    <a href='{% url "portfolio:add_about" %}'><button id="add_aboutme">Add about me</button></a>
                {% endif %}

                {% if data_.aboutme %}
                    <div class="col-6">
                    <img id="create_img" src={{data_.aboutme.picture.url}}
                         style="width: 400px; height: 400px;" class="img-fluid">
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="d-flex col-8 justify-content-end">
                            <h2>Full stack developer</h2>
                        </div>
                        {% if data_.aboutme and user.is_authenticated %}
                        <div class="col-4">
                            <div class="row">
                                    <div class="col-6">
                                        <a href='{% url "portfolio:edit_about" data_.aboutme.id %}'>
                                            <button id="edit_aboutme">Edit about me</button>
                                        </a>
                                    </div>
                                    <div class="col-6">
                                        <a href='{% url "portfolio:delete_about" %}'>
                                            <button id="delete_aboutme">Delete about me</button>
                                        </a>
                                    </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>

                    <div class="d-flex justify-content-start ps-3">
                        <h3 id="create_name">{{data_.aboutme.firstname}} {{data_.aboutme.lastname}}</h3>
                    </div>

                    <div class="d-flex justify-content-center text-start">
                            <div class="overflow-auto" style="width: 600px; height: 200px;">
                            <p id="create_about">{{data_.aboutme.about}}</p>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
          </div>
        </div>

     <h1 id="heading-experience">Work experience</h1>
     {% if user.is_authenticated %}
        <a href='{% url "portfolio:add_experience" %}'><button id="add_experience">Add experience</button></a>
     {% endif %}

    {% if data_.experience %}
        {% for experience in data_.experience %}
             <div id="experience_{{ forloop.counter }}">
                 {% if user.is_authenticated %}
                    <a href='{% url "portfolio:edit_experience" experience.id %}'><button id="edit_experience_{{ forloop.counter }}">edit</button></a>
                    <a href='{% url "portfolio:delete_experience" experience.id %}'><button id="delete_experience_{{ forloop.counter }}">delete</button></a>
                {% endif %}

                  <p id="experience_{{ forloop.counter }}_job">Job:{{experience.job}}</p>
                  <p>Description:{{experience.description}}</p>
                  <p>Current:{{experience.current}}</p>
                  <p>Start date:{{experience.start_date}}</p>
                  <p>Finish date:{{experience.finish_date}}</p>
                  <p>More info:{{experience.link_info}}</p>
                  <img src={{experience.picture.url}}>
             </div>
        {% endfor %}
    {% endif %}

     <h1 id="heading-academic">Academic background</h1>
     {% if user.is_authenticated %}
        <a href='{% url "portfolio:add_background" %}'><button id="add_background">Add item</button></a>
     {% endif %}

     {% if data_.backgrounds %}
             {% for background in data_.backgrounds %}
             <div id="academic_background_{{ forloop.counter }}">
                 {% if user.is_authenticated %}
                    <a href='{% url "portfolio:edit_background" background.id %}'><button id="edit_academic_background_{{ forloop.counter }}">edit</button></a>
                    <a href='{% url "portfolio:delete_background" background.id %}'><button id="delete_academic_background_{{ forloop.counter }}">delete</button></a>
                 {% endif %}

                  <p id="background_{{ forloop.counter }}_title">Title:{{background.title}}</p>
                  <p>Institution:{{background.institution}}</p>
                  <p>Degree:{{background.degree}}</p>
                  <p>Start date:{{background.start_date}}</p>
                  <p>Finish date:{{background.finish_date}}</p>
                  <p>More info:{{background.link_info}}</p>
                  <img src={{background.picture.url}}>
             </div>
            {% endfor %}
     {% endif %}

     <h1 id="heading-project">Projects</h1>
    {% if user.is_authenticated %}
        <a href='{% url "portfolio:add_project" %}'><button id="add_project">Add item</button></a>
    {% endif %}

     {% if data_.projects %}
             {% for project in data_.projects %}
             <div id="project_{{ forloop.counter }}">
                 {% if user.is_authenticated %}
                    <a href='{% url "portfolio:edit_project" project.id %}'><button id="edit_project_{{ forloop.counter }}">edit</button></a>
                    <a href='{% url "portfolio:delete_project" project.id %}'><button id="delete_project_{{ forloop.counter }}">delete</button></a>
                {% endif %}

                  <p id="project_{{ forloop.counter }}_title">Title:{{project.title}}</p>
                  <p>Description:{{project.description}}</p>
                  <p>More info:{{project.link_info}}</p>
                  <img src={{project.picture.url}}>
             </div>
            {% endfor %}
     {% endif %}
{% endblock %}

